<div class="redactor_content_padding">
<label>%RLANG.title%</label>
<input id="redactor_file_alt" style="width: 97%;" /><br />
<label>%RLANG.link%</label>
<input id="redactor_file_link" style="width: 97%;" /><br />
<label>%RLANG.image_position%</label>
<select id="redactor_form_image_align">
    <option value="none">%RLANG.none%</option>
    <option value="left">%RLANG.left%</option>
    <option value="right">%RLANG.right%</option>
</select>
</div>
<div class="redactor_content_border" style="padding-left:5px; padding-right:5px;">
<span class="redactor_btns_box">
<input type="button" name="save" id="redactorSaveBtn" value="%RLANG.save%" class="button on" />
<a href="javascript:void(null);" id="redactor_image_delete_btn">%RLANG._delete%</a>
</span>
<br style="clear: both;"/>
<br style="clear: both;"/>
</div>


