<div class="redactor_sidebar">
<div id="redactor_tabs">
	<div><a href="javascript:void(null);" class="redactor_tabs_act">%RLANG.upload%</a></div>
	<div><a href="javascript:void(null);">%RLANG.choose%</a></div>	
	<div><a href="javascript:void(null);">%RLANG.link%</a></div>		
</div>
</div>
<div style="clear:both"></div>

	<form id="redactorInsertImageForm" method="post" action="" enctype="multipart/form-data">	
	<div id="redactor_tab1" class="redactor_tab redactor_content_padding">
		<input type="file" id="redactor_file" name="file" />
	</div>	
	<div id="redactor_tab2" class="redactor_tab" style="display: none;">
		<div id="redactor_image_box" class="redactor_content_padding"></div>
	</div>	
	</form>	

	
    <div id="redactor_tab3" class="redactor_tab redactor_content_padding" style="display: none;">
    	<label>%RLANG.image_web_link%</label>
    	<input name="redactor_file_link" id="redactor_file_link"  style="width: 50%"  />
    </div>
<br style="clear: both;"/>

<div class="redactor_content_border" style="padding-left:5px; padding-right:5px;">
<span class="redactor_btns_box">
	<input type="button" name="upload" id="redactor_upload_btn" value="%RLANG.insert%" class="button on" />
    <a href="javascript:void(null);" id="redactor_btn_modal_close">%RLANG.cancel%</a>
</span>
<br style="clear: both;"/>
<br style="clear: both;"/>
</div>

