<div class="redactor_content_padding">
<label>%RLANG.Rows%:</label>
<input size="5" value="2" id="redactor_table_rows" style="width: 50%;" /><br />
<label>%RLANG.Columns%:</label>
<input size="5" value="3" id="redactor_table_columns" style="width: 50%;" />
<br style="clear: both;"/>
</div>

<div class="redactor_content_border" style="padding-left:5px; padding-right:5px;">
<span class="redactor_btns_box">
<input type="button" name="upload" id="redactor_insert_table_btn" value="%RLANG.insert%" class="button on" />
<a href="javascript:void(null);" id="redactor_btn_modal_close">%RLANG.cancel%</a>
</span>
<br style="clear: both;"/>
<br style="clear: both;"/>
</div>


