<div class="redactor_content_padding">
<form id="redactorInsertVideoForm">
<label>%RLANG.video_html_code%</label><br />
<textarea id="redactor_insert_video_area" style="width: 97%; height: 160px;"></textarea>
</form>
</div>

<div class="redactor_content_border" style="padding-left:5px; padding-right:5px;">
<span class="redactor_btns_box">
	<input type="button" id="redactor_insert_video_btn" value="%RLANG.insert%" class="button on" />
    <a href="javascript:void(null);" id="redactor_btn_modal_close">%RLANG.cancel%</a>
</span>
<br style="clear: both;"/>
<br style="clear: both;"/>
</div>